{% extends 'base.html' %}

{% block title %}
{{post.title_tag}}
{% endblock %}

{% block content %}
<!doctype html>
<html>

<meta charset="utf-8">
<style>
   body{
    background-color: #000000; /* Цвет фона веб-страницы */
   }
   hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: grey; /* Цвет линии для остальных браузеров */
    background-color: grey; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
   }

</style>

<body>
<h1 style="color:#808080">{{ post.title }}</h1>
<small style="color:#808080">
    By: {{post.author.first_name}} {{post.author.last_name}}; {{post.creating_date}}<br/>
</small>
<hr>
<big style="color:#808080">{{ post.body }}</big>
{% if post.image %}
    <img src="/media/{{post.image}}" alt="Girl in a jacket">
{% endif %}
<hr>
<a href="{% url 'home' %}" style="color:#C0C0C0" class="btn btn-secondary">Back</a>
{% if user.is_authenticated %}
<a href="{% url 'update post' post.pk %}" style="color:#C0C0C0" class="btn btn-secondary">Update</a>
<a href="{% url 'delete post' post.pk %}" style="color:#C0C0C0" class="btn btn-secondary">Delete</a>
{% endif %}
</body>

</html>
{% endblock %}


