{% extends 'base.html' %}

{% block title %}
Delete blog post
{% endblock %}

{% block content %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
<style>
   body{
    background-color: #000000; /* Цвет фона веб-страницы */
   }


</style>
{% if user.is_authenticated %}
<body>
<h1 style="color:#808080">Delete: {{ post.title }}</h1>
<div class="form-group">
    <form method="POST" style="color:#808080">
        {% csrf_token %}
        <strong>Are you sure?</strong></br>
</div>
<button class="btn btn-secondary" style="color:#C0C0C0">Delete</button>
<a href="{% url 'article details' post.pk %}" style="color:#C0C0C0" class="btn btn-secondary">Back</a>


</body>
{% endif %}

<h1 style="color:#808080">You're not allowed here!</h1>

</html>
{% endblock %}