{% extends 'base.html' %}

{% block title %}
Update blog post
{% endblock %}

{% block content %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
<style>
   body{
    background-color: #000000; /* Цвет фона веб-страницы */
   }


</style>
<body>
<h1 style="color:#808080">Update post</h1>
<div class="form-group">
    <form method="POST" style="color:#808080">
        {% csrf_token %}
        {{ form.as_p }}
</div>
<button class="btn btn-secondary">Update</button>


</body>

</html>
{% endblock %}