{% extends 'base.html' %}

{% block title %}
Update blog post
{% endblock %}

{% block content %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
<style>
   body{
    background-color: #000000; /* Цвет фона веб-страницы */
   }


</style>
{% if user.is_authenticated %}
<body>
<h1 style="color:#808080">Update post</h1>
<div class="form-group">
    <form method="POST" style="color:#808080" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Update</button>
    </form>
</div>

{% else %}
<h1 style="color:#808080">You're not allowed here!</h1>
{% endif %}



</body>

</html>
{% endblock %}